#name {
    text-align: center;
    font-size: 50px;
    font-family: Arial;
}

.header {
    text-align: left;
    font-size: 40px;
    font-family: Arial;
}

.context {
    width: 80%;
    height: 70px;
    margin: auto;
}

ul.list {
    text-sligh: left;
    font-size: 25px;
    font-family: Arial;
    list-style-type: circle;
}

#about-photo {
    width: 25%;
    float: left;
}

#project-photo {
    width: 40%;
    float: left;
}

#about-text {
    margin-left: 28%;
    padding-top: 1%;
}

.text {
    text-align: left;
    font-size: 25px;
    font-family: Arial;
}

.nav-bar {
    width: 100%;
    height: 50px;
    margin: 0;
    background: maroon;
}

.nav-bar > .element {
    width: 24%;
    line-height: 50px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0 auto;
    font-family: Arial;
    text-decoration: none;
    transition: transform .2s;
}

.nav-bar > .element:hover {
    transform: scale(1.3);
}

.footer {
    height: 32px;
    background: maroon;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer_elem {
    float: left;
    height: 32px;
    bottom: 0;
    margin-left: 15%
}

#footer_github #footer_linkedin {
    width: 20%;
}

.icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    float: left;
    margin-top: 5px;
}


.footer-text {
    font-familt: Arial;
    font-size: 14 px;
    line-height: 30px;
    text-align: center;
    color: white;
    float: left;
    text-decoration: none;
}

.clearfix {
    clear: both;
}


